<p style="color: green"><%= notice %></p>

<%= render @store %>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <% if @store.discarded? %>
      <%= button_to "Active this store", active_store_store_path(id: @store.id), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-new-store"  %>
    <% else %>
      <%= button_to "Deactivate this store", store_path(id: @store.id), method: :delete, data: { turbo_confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-show-store"   %>
    <% end %>
</div>
