<header>
  <div class="header-container">
    <div>
      <%= link_to "Início", root_path, class: 'small-blue-button' %>
    </div>
    <div class="header-inline">
      <p class="text-styled">Logged in as <strong><%= current_user.email %></strong></p>
      <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "small-red-button" %>
    </div>
  </div>
</header>
<main>
</main>
<div class="global-container"
  <p style="color: green;"><%= notice %></p>
  <%= form_with(model: @user, url: edit_path(id: @user.id), method: :put, html: { class: 'user-form', id: 'edit-user-form' }) do |form| %>
    <div class="field">
      <%= form.label :email, 'Email', class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control', id: 'user-email', class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :role, 'Role', class: 'text-styled' %>
      <%= form.select :role, User.roles.keys, {}, { class: 'form-control', id: 'user-role' } %>
    </div>

    <div class="form-group">
      <%= form.submit 'Atualizar', class: 'small-blue-button', id: 'update-user-button' %>
    </div>
    
<% end %>
</div>
