<head>
    <%= stylesheet_link_tag 'application.css' %>
</head>

<body>
    <div id="container">
        <div id="image-container">
            <img id="image" src="/welcome.jpeg">
        </div>
        <div id="text-container">
            <h1 id="title">Welcome to delivery!</h1>

            <p style="color: green"><%= notice %></p>

            <% if current_user %>
                <p>Logged in as <strong><%= current_user.email %></strong></p>
                <%= button_to "Sign out", destroy_user_session_path, 
                method: :delete %>
            <% else %>
                <%= link_to "Sign in", new_user_session_path %>
                or
                <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
        </div>
    </div>
</body>

