<%=  form_with(model: product, url: store_product_path(store_id: @store, id: @product), 
method: :patch) do |form| %>
    <% if product.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title, "Nome do produto", style: "display: block", class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :price, "Preço", style: "display: block", class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control'%>
    </div>
  
  
    <div class="field">
      <%= form.label :image, "Imagem", style: "display: block", class: 'form-label' %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :description, "Descrição", style: "display: block", class: 'form-label' %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="field">
    <%= form.label :portion, "Serve quantas pessoas?", style: "display: block", class: 'form-label' %>
    <%= form.text_field :portion, class: 'form-control' %>
  </div>
  
    <div class="inline-container">
      <%= form.submit "Salvar", class:"small-green-button" %>
      <%= link_to "Ver produto",  store_product_path(@store, @product), class:"small-blue-button" %>
    </div>
  <% end %>